body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: Abel;
}
ul,
li {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
#background {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #808080;
  background-attachment: fixed;
}
#background img {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
}
#animated_header {
  width: 100%;
}
#animated_header .box_in_border {
  margin-top: 0;
  margin-bottom: 0;
}
#animated_header span {
  color: #000;
}
#animated_header h2 {
  color: #ccc;
  margin: 0;
  padding: 0;
  text-align: right;
}
.spacer {
  height: 0.5em;
}
.box_in {
  background: none;
}
.box_in_border {
  margin: 0.5em;
  padding: 0.5em;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 3px 3px 4px -1px rgba(0,0,0,0.75);
  background: #fff;
}
.post_title h2 {
  text-shadow: 1px 1px #bbb;
}
.post_title span {
  text-shadow: none;
}
section .box_in_border {
  margin-left: 0;
}
@media screen and (max-width: 980px) {
  section .box_in_border {
    margin-left: 0.5em;
  }
}
section {
  display: inline;
  float: left;
  width: 75%;
}
@media screen and (max-width: 980px) {
  section {
    display: block;
    float: none;
    width: 100%;
    clear: both;
  }
}
aside {
  display: inline;
  float: left;
  width: 25%;
}
@media screen and (max-width: 980px) {
  aside {
    display: block;
    float: none;
    width: 100%;
  }
}
#shortcut_bar li:nth-child(1) span a {
  background: #000;
}
#shortcut_bar li:nth-child(2) span a {
  background: #000010;
}
#shortcut_bar li:nth-child(3) span a {
  background: #000020;
}
#shortcut_bar li:nth-child(4) span a {
  background: #000030;
}
#shortcut_bar li:nth-child(5) span a {
  background: #000040;
}
#shortcut_bar li {
  list-style: none;
  margin-top: 0.5em;
}
@media screen and (max-width: 980px) {
  #shortcut_bar li {
    margin: 0;
    float: left;
    width: 33.33%;
  }
}
@media screen and (max-width: 980px) {
  #shortcut_bar li:nth-child(4) {
    display: block;
    clear: both;
    width: 100%;
    margin-top: -universal_margin;
  }
}
@media screen and (max-width: 980px) {
  #shortcut_bar li:nth-child(4) .box_in_border {
    margin-top: 0;
  }
}
#shortcut_bar a {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  font-weight: bolder;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
#shortcut_bar a h2 {
  margin: 0;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 980px) {
  #shortcut_bar a h2 {
    text-align: center;
  }
}
.tags li {
  list-style: none;
  margin: 0;
  margin-left: 0.5em;
  float: right;
}
.tags li a {
  color: #ccc;
}
.tags li a p {
  margin: 0;
  font-size: 0.8em;
}
article h2 span {
  float: right;
  color: #ccc;
}
.tagline {
  margin-top: 0.5em;
}
.content {
  clear: both;
}
.content h2 {
  margin-top: 0;
}
.content h1,
h3,
p {
  margin-top: 0.5em;
}
.content a {
  text-decoration: underline;
}
.img_container {
  position: relative;
  height: 10em;
  width: 10em;
  overflow: hidden;
  display: inline-block;
  box-shadow: 1px 1px 2px -1px rgba(0,0,0,0.75);
}
.img_container img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  height: 100% !important;
  width: auto !important;
}
.gallery {
  margin-top: 0.5em;
}
.gallery .img_container {
  margin: 0;
  margin-right: 0.5em;
}
.meta {
  color: #ccc;
  font-size: 0.8em;
}
.game_meta {
  color: #000;
}
.game_meta p {
  margin: 0;
}
.game_meta span {
  margin-left: 0.5em;
  margin-right: 0.5em;
  color: #ccc;
}
.tagline h4 {
  font-size: 2em;
  margin: 0;
}
.links {
  margin-top: 0.5em;
}
.links ul {
  margin-left: 0.5em;
  padding-left: 0.5em;
}
.links li {
  list-style-type: circle;
}
.links h4 {
  font-size: 1.2em;
  margin: 0;
}
.social_buttons {
  overflow: hidden;
}
.social_button {
  float: right;
  display: inline;
  right: 0;
  text-align: right;
  margin: 0.5em;
  width: 1em;
  height: 1em;
}
@media screen and (max-width: 980px) {
  .social_button {
    width: 2em;
    height: 2em;
  }
}
.social_button img {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
footer {
  position: fixed;
  background: #fff;
  width: 100%;
  height: 2em;
  bottom: 0;
}
footer ul {
  float: left;
  list-style-type: none;
}
footer li {
  float: left;
  list-style-type: none;
  padding-right: 1em;
}
